<div class="col-xs-8 col-xs-offset-2">
  <%= form_for [@section, @question] do |f| %>
  <div class="form-group">
    <%= f.text_field :question_title, class: "form-control", placeholder: "Title" %>
  </div>
  <div class="form-group">
    <%= f.text_field :question_author, class: "form-control", placeholder: "Name" %>
  </div>
  <div class="form-group">
    <%= f.text_area :question_content, rows: 10, class: "form-control", placeholder: "Content" %>
  </div>
  <div class="form-group">
    <%= f.text_field :tag_list, class: "form-control", placeholder: "Tags (seperated by commas)" %>
  </div>

    <%= f.submit "Submit", class: "btn btn-success btn-block btn-lg" %>
  <% end %>
</div>
