
<div class="container">
  <div class="nest">

    <h2><%= @question.question_title %></h2>
    <span>by <strong><%= @question.question_author %></strong></span>
    <p><%= link_to "<", section_path(@question.section) %></p> 

    <p><%= simple_format(@question.question_content) %></p>

    <p class="tags"><%= raw @question.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(' ') %></p>

    <hr>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <%= link_to "Answer", new_question_answer_path(@question), class: "btn btn-success btn-block btn-lg" %>
      </div>
    </div>
    <h2>Answers</h2>


      <% @answers.each do |answer| %>
        <div class="answer-block">
          <div class="answer-content row">
            <div class="col-md-2 text-center">
              <%= link_to (raw '<span class="glyphicon glyphicon-chevron-up"></span>'), question_answer_path(@question, answer, vote: "up"), method: "patch" %>

              <span class="text-danger"><strong><%= answer.vote %></strong></span>

              <%= link_to (raw '<span class="glyphicon glyphicon-chevron-down"></span>'), question_answer_path(@question, answer, vote: "down"), method: "patch" %>
              <br>
              <% if answer.star %>
                <span class="glyphicon glyphicon-heart-empty text-warning love" id="answer_<%= answer.id %>"></span>
              <% end %>
              <br>
              <% if current_user && current_user.admin %>
                <%= link_to 'love', question_answer_path(@question, answer, star: "true"), method: "patch"%>
              <% end %>

            </div>
            <div class="col-md-10">
              <%= simple_format(answer.answer_content) %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-2">
              <strong><%= answer.answer_author %></strong> - <%= distance_of_time_in_words(answer.created_at, Time.now) %> ago
            </div>
            <div class="col-md-7 text-right">
              <%= link_to "Edit", edit_question_answer_path(@question, answer) %> |
              <%= link_to "Delete", question_answer_path(@question, answer), method: "delete" %>
            </div>
          </div>
        </div>

      <% end %>

  </div>
</div>
