<h1 class="question-header"><%= @section.section_name %></h1>

<div class="container">

    <% @section.questions.each do |question| %>
      <div class="question-content">
        <div class="question-title row">
          <div class="col-md-12">
            <%= link_to question.question_title, question_path(question) %> - by <%= question.question_author %>
          </div>
        </div>
        <div class="row">
          <div class="tags col-md-6">
            <p>Tags: <%= raw question.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %></p>
          </div>
          <div class="edit-delete col-md-6 text-right">
            <%= link_to "Edit", edit_section_question_path(@section, question) %> |
            <%= link_to "Delete", section_question_path(@section, question), method: "delete" %>
          </div>
        </div>
      </div>
    <% end %>

  <div class="ask">
    <%= link_to "Ask", new_section_question_path(@section), class: "btn btn-primary" %>
  </div>
</div>
