<!DOCTYPE html>
<html>
<head>
  <title>Heap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="content">
    <nav class="navbar navbar-default" id="nonavpad">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to (raw '<span class="glyphicon glyphicon-home"></span>'),  root_path, class: "navbar-brand" %>
          <!-- <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home"></span> </a> -->
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>

              <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% end %>
            <!-- <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><a>Logged in as <strong><%= current_user.email %></strong></a></li>
            <% else %>
              <li><%= link_to "Admin", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
    <% if notice %>
      <div class="alert alert-success col-xs-6 col-xs-offset-3">
        <p class="notice text-center"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning col-xs-6 col-xs-offset-3">
        <p class="alert text-center"><%= alert %></p>
      </div>
    <% end %>


    <footer>BHam 2015</footer>

  </div>

</body>
</html>
